/**
*
* @author Guoxing.Han(hancoson#163.com)
* @time 2016-8-10.
*/
@import "../../../../lib/style/variables";
@import "../../../../lib/components/dialog/dialog";

.hd-drawPc {
    width: $pc-hd-width;
    margin: 0 auto 60px;
    .top-btns {
        margin-bottom: 18px;
        text-align: right;
        button {
            border: 2px solid #fff;
            color: #fff;
            background: transparent;
            width: 110px;
            height: 30px;
            margin-left: 8px;
            border-radius: 20px;
            transition: color .3s ease;
            transition: background .3s ease;
            &:hover {
                border: 2px solid #f8465b;
                color: #fff;
                background: #f8465b;
            }
        }
    }
    .draw-pcArea {
        width: 100%;
        height: 503px;
        background: url('http://hd.res.meizu.com/hd/custom/hd/images/draw-bg.png') no-repeat;
        .draw-pcLeft {
            width: 736px;
            height: 503px;
            position: relative;
            .border-light {
                position: absolute;
                &.top {
                    top: 0;
                    left: 0;
                    width: 736px;
                    height: 40px;
                }
                &.left {
                    top: 40px;
                    left: 0;
                    width: 40px;
                    height: 420px;
                }
                &.bottom {
                    bottom: 3px;
                    left: 0;
                    width: 736px;
                    height: 43px;
                }
                &.right {
                    top: 40px;
                    right: 0;
                    width: 40px;
                    height: 420px;
                }
                i {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    img {
                        width: 100%;
                    }
                    &.odd {
                    }
                    &.even {
                    }
                    &.across {
                        margin-right: 134px;
                        &.last {
                            margin-right: 0;
                        }
                    }
                    &.vertical {
                        margin-top: 113.333px;
                    }
                }
            }
            .draw-box {
                padding: 5px;
                width: 645px;
                height: 410px;
                margin: 40px;
                ul {
                    li {
                        @extend .border-box;
                        margin: 5px;
                        width: 205px;
                        height: 126px;
                        padding: 10px;
                        float: left;
                        background: url("http://hd.res.meizu.com/hd/custom/hd/images/draw-kw.png");
                        color: #cc1f46;
                        font-size: 16px;
                        text-align: center;
                        border: 4px solid rgba(255, 255, 255, 0);
                        img {
                            width: 100%;
                            max-width: 75px;
                            max-height: 75px;
                        }
                        p {
                            margin-top: 5px;
                        }
                        &.active {
                            background: #fff;
                            border: 4px solid #f59936;
                        }
                        &.btn {
                            cursor: pointer;
                            padding: 0;
                            border: 0;
                            &:hover {
                                opacity: 0.8;
                            }
                            a {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                            }
                            p {
                                margin-top: 75px;
                                font-size: 16px;
                                color: #fff;
                                em {
                                    color: #f6e23d;
                                    font-weight: 600;
                                    margin: 0 2px;
                                }
                            }
                            .null {
                                font-size: 24px;
                                padding-top: 30px;
                                color: #fff;
                                p {
                                    margin-top: 16px;
                                    em {
                                        color: #e1af7c;
                                    }
                                }
                            }
                            .no-start {
                                font-size: 24px;
                                padding-top: 47px;
                                color: #e5e5e5;
                            }

                        }
                    }
                }
            }
        }
        .draw-pcRight {
            width: 235px;
            height: 420px;
            margin-top: 38px;
            position: relative;
            .share-btn {
                display: block;
                width: 100%;
                height: 45px;
                line-height: 42px;
                background: url("http://hd.res.meizu.com/hd/custom/hd/images/share.png");
                text-align: center;
                font-size: 18px;
                color: #fff;
                &:hover {
                    opacity: 0.9;
                }
                i {
                    display: inline-block;
                    width: 25px;
                    height: 22px;
                    margin-left: 3px;
                    background: url('http://hd.res.meizu.com/hd/custom/hd/images/shaer-icon.png');
                    background-position-y: 1px;
                }
            }
            .draw-list {
                @extend .border-box;
                width: 230px;
                padding: 0 15px;
                margin-top: 95px;
                height: 245px;
                overflow: hidden;
                ul {
                    width: 100%;
                    li {
                        font-size: 14px;
                        color: #666;
                        height: 40px;
                        line-height: 40px;
                        border-bottom: 1px solid #e2cdcd;
                        span {
                            @extend .ellipsis;
                            display: block;
                            &.n {
                                width: 70px;
                                float: left;
                            }
                            &.p {
                                width: 110px;
                                float: right;
                            }
                        }
                        &.null {
                            color: #999;
                            text-align: center;
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .draw-add {
            text-align: center;
            color: #fff;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

.hd-drawDialogS {
    width: 100%;
    .title {
        text-align: center;
        font-size: 20px;
        color: #fff;
        height: 30px;
        line-height: 20px;
        margin: 0 auto;
        display: table;
        i {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            background: url('http://hd.res.meizu.com/hd/custom/hd/images/gou-icon.png');
            margin: -4px 5px 0 0;
        }
    }
    .error {
        color: #fff;
        padding: 70px 0 120px;
        font-size: 16px;
        display: table;
        margin: 0 auto;
        i {
            display: block;
            float: left;
            margin-right: 5px;
            width: 30px;
            height: 30px;
            background: url('http://hd.res.meizu.com/hd/custom/hd/images/cha-icon.png') no-repeat;
        }
        p {
            float: left;
            line-height: 30px;
        }
    }
    .con {
        text-align: center;
        .bg {
            @extend .border-box;
            background: url('http://hd.res.meizu.com/hd/custom/hd/images/is-draw.png') no-repeat;
            width: 249px;
            height: 133px;
            margin: 10px auto 0;
            text-align: center;
            padding-top: 21px;
            &.no {
                background: url('http://hd.res.meizu.com/hd/custom/hd/images/no-draw.png') no-repeat;
            }
            img {
                width: 90px;
                height: 90px;
            }

        }
        .links {
            margin: 40px auto;
            text-align: center;
            a {
                display: inline-block;
                font-size: 14px;
                width: 120px;
                height: 28px;
                text-align: center;
                line-height: 26px;
                box-sizing: border-box;
                margin: 0 3px;
                border-radius: 3px;
                transition: color .3s ease;
                transition: background .3s ease;
                &.btn {
                    background: #fff;
                    color: #f8465b;
                    border: #f8465b 1px solid;
                    &:hover {
                        background: #f8465b;
                        color: #fff;
                        border: #fff 1px solid;
                    }
                }
                &.i {
                    height: 30px;
                    :after {
                        content: '';
                        display: inline-block;
                        margin-left: 5px;
                        background-image: url(http://hd.res.meizu.com/hd/custom/hd/images/weibo-red.png);
                        background-repeat: no-repeat;
                        background-size: 20px auto;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
            .s {
                p.text {
                    display: inline-block;
                    color: #fff;
                    border: #fff 1px solid;
                    //height: 26px;
                    line-height: 26px;
                    padding: 0 15px;
                    margin: 0 0 10px;
                }
            }
        }
    }
    .bottom {
        @extend .border-box;
        background: #fff;
        padding: 20px;
        color: #666;
        font-size: 14px;
        line-height: 1.4;
    }
}

.hd-drawDialogBig {
    width: 100%;
    .title {
        text-align: center;
        font-size: 20px;
        color: #fff;
        height: 60px;
        line-height: 60px;
        margin: -40px auto 0;
        display: table;
        i {
            display: block;
            float: left;
            width: 36px;
            height: 32px;
            background: url('http://hd.res.meizu.com/hd/custom/hd/images/gift.png');
            margin: 14px 5px 0 0;
            &.d {
                background: url('http://hd.res.meizu.com/hd/custom/hd/images/address.png');
            }
        }
        span {
            display: block;
            float: left;
        }
    }
    .dialog-con {
        @extend .border-box;
        background: #fff;
        width: 100%;
        padding: 25px 28px;
        color: #666;
        .myList {
            @extend .scrollbar;
            width: 100%;
            height: 325px;
            overflow: auto;
            &.regulation {
                line-height: 1.4;
                p {
                    margin-top: 5px;
                }
            }
            li {
                @extend .border-box;
                float: left;
                width: 310px;
                height: 110px;
                background: #f4f4f4;
                padding: 20px 0 20px 20px;
                margin-bottom: 15px;
                &:nth-child(odd) {
                    margin-right: 20px;
                }
                &:nth-child(even) {
                    margin-right: 0;
                }
                .img {
                    @extend .border-box;
                    display: block;
                    float: left;
                    width: 120px;
                    height: 70px;
                    background-image: url("http://hd.res.meizu.com/hd/custom/hd/images/draw-kw.png");
                    background-size: 120px 70px;
                    padding: 5px;
                    margin-right: 10px;
                    text-align: center;
                    img {
                        width: 100%;
                        max-width: 45px;
                        max-height: 45px;
                    }
                    p {
                        font-size: 12px;
                        color: #f2424f;
                    }
                }
                .dec {
                    float: left;
                    line-height: 1.5;
                    .h {
                        font-size: 18px;
                        color: #333;
                        width: 150px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .t {
                        font-size: 14px;
                        color: #666;
                    }
                    .f {
                        color: #999;
                    }
                    a {
                        color: #f2424f;
                        font-size: 14px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &.null-draw {
                    width: 100%;
                    text-align: center;
                    background: transparent;
                    color: #999;
                }
            }
        }
        &.address {
            padding: 50px 20px 15px;
            li.item {
                color: #666;
                width: 100%;
                min-height: 65px;
                &.last-i {
                    min-height: 120px;
                }
                .name {
                    display: inline-block;
                    width: 90px;
                    height: 40px;
                    line-height: 40px;
                    text-align: right;
                    margin-right: 10px;
                    em {
                        color: #f2424f;
                        margin-right: 3px;
                    }
                }
                input[name='name'], input[name='tel'], input[name='address'] {
                    height: 36px;
                    width: 200px;
                    padding: 0 8px;
                    border: 1px solid #e8e8e8;
                    margin-bottom: 5px;
                    font-size: 16px;
                }
                select {
                    @extend .ellipsis;
                    height: 30px;
                    width: 136px;
                    margin-right: 5px;
                    border: 1px solid #e8e8e8;
                    cursor: pointer;
                    -webkit-appearance: none;
                    appearance: none;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    background: #FFF url(http://ourjs.github.io/static/2015/arrow.png) no-repeat center right;
                    color: #333333;
                    border-radius: 2px;
                    padding: 0 15px 0 4px;
                    option {
                        &.def {
                            color: #999;
                        }
                        &:hover {
                            background-color: #f80;
                            color: #fff;
                        }
                    }
                    &.last {
                        margin-right: 0;
                    }
                }
                .all-addr {
                    border: 1px solid #e8e8e8;
                    width: 542px;
                    margin-left: 100px;
                    padding: 0 8px;
                    height: 43px;
                    line-height: 43px;
                    .addr {
                        float: left;
                        height: 43px;
                    }
                    input[name='address'] {
                        width: 542px;
                        padding: 0;
                        border: 0;
                    }
                }
                p {
                    color: #f2424f;
                    padding-left: 100px;
                    line-height: 16px;
                    font-size: 12px;
                    i {
                        display: inline-block;
                        float: left;
                        background: url("http://hd.res.meizu.com/hd/custom/hd/images/err.png");
                        width: 15px;
                        height: 15px;
                        margin-right: 3px;
                    }
                }
                &.error {
                    input[name='name'], input[name='tel'] {
                        border-color: #f2424f;
                    }
                    p {
                        display: block;
                    }
                }

                .submit {
                    margin-left: 100px;
                    background: #c6c6c6;
                    border: 1px solid rgba(255, 255, 255, 0);
                    color: #fff;
                    &.active {
                        border: 1px solid rgba(255, 255, 255, 0);
                        background: #f2424f;
                        transition: color .3s ease;
                        transition: background .3s ease;
                        &:hover {
                            border: 1px solid #f2424f;
                            color: #f2424f;
                            background: #fff;
                        }
                    }
                }
            }
        }
        .btn {
            width: 120px;
            height: 30px;
            font-size: 14px;
            border: 0;
            border-radius: 3px;
        }
    }
    &.result {
        color: #666;
        height: 445px;
        text-align: center;
        .re-title {
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            margin: 0 auto;
            padding-top: 40px;
            display: table;
            &.err-t {
                margin-top: 80px;
            }
            i {
                display: block;
                float: left;
                width: 32px;
                height: 32px;
                background: url('http://hd.res.meizu.com/hd/custom/hd/images/success.png');
                margin: 14px 5px 0 0;
                &.err {
                    background: url('http://hd.res.meizu.com/hd/custom/hd/images/error.png');
                }
            }
        }
        .re-dec {
            font-size: 14px;
            margin: 5px auto;
        }
        .re-bottom {
            .text {
                display: inline-block;
                border: 1px solid #c6c6c6;
                background: #f5f5f5;
                color: #999;
                margin-right: 10px;
                padding: 8px 13px;;
            }
            .btn {
                display: inline-block;
                border: 1px solid #f8465b;
                color: #f8465b;
                background: transparent;
                width: 120px;
                height: 30px;
                line-height: 30px;
                border-radius: 2px;
                transition: color .3s ease;
                transition: background .3s ease;
                margin: 30px auto 0;
                &.succ {
                    color: #fff;
                    background: #f8465b;
                    &:hover {
                        color: #f8465b;
                        background: #fff;
                    }
                }
                &:hover {
                    border: 1px solid #f8465b;
                    color: #fff;
                    background: #f8465b;
                }

            }
            .img {
                @extend .border-box;
                width: 249px;
                height: 133px;
                margin: 10px auto;
                text-align: center;
                padding: 10px;
                background-image: url("http://hd.res.meizu.com/hd/custom/hd/images/is-draw.png");

                img {
                    width: 90px;
                    height: 90px;
                }
                p {
                    color: #f8465b;
                }
            }
        }
    }
}