/**
* 
* @author Guoxing.Han(hancoson#163.com)
* @time 2016-8-24.
*/
@import "../../../../lib/style/variables";
@import "../../../../lib/components/dialog/m-dialog";
@import "../../../../lib/components/dialog/full-dialog";
@import "../../../../lib/components/popmsg/popmsg";

.mhd-draw {
    width: 672*$px;
    margin: 40px auto;
    .m-share-btn {
        display: block;
        border-radius: 8*$px;
        background: linear-gradient(to bottom, #cc4d62 0%, #e2232b 100%);
        width: 230px;
        height: 33px;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 33px;
        i {
            display: inline-block;
            width: 17px;
            height: 14px;
            margin-left: 5*$px;
            background: url('http://hd.res.meizu.com/hd/custom/hd/images/shaer-icon.png');
            background-size: 17px auto;
        }
    }
    .top-btns {
        margin-top: 20*$px;
        text-align: right;
        button {
            border-bottom: 2*$px solid #fff;
            color: #fff;
            background: transparent;
            padding: 10*$px 5*$px;
            margin-left: 50*$px;
        }
    }
    .draw-pcArea {
        width: 672*$px;
        height: 660*$px;
        margin-top: 40*$px;
        background-color: #c62645;
        background-image: url('http://hd.res.meizu.com/hd/custom/hd/images/m-draw-bg.png');
        background-repeat: no-repeat;
        background-size: 672*$px auto;

        .draw-pcLeft {
            width: 100%;
            height: 455*$px;
            position: relative;
            .border-light {
                position: absolute;
                &.top {
                    top: 0;
                    left: 0;
                    width: 672*$px;
                    height: 35*$px;
                }
                &.left {
                    top: 35*$px;
                    left: 0;
                    width: 38*$px;
                    height: 385*$px;
                }
                &.bottom {
                    bottom: 3px;
                    left: 0;
                    width: 672*$px;
                    height: 35*$px;
                }
                &.right {
                    top: 35*$px;
                    right: 0;
                    width: 38*$px;
                    height: 385*$px;
                }
                i {
                    display: inline-block;
                    width: 35*$px;
                    height: 35*$px;
                    img {
                        width: 100%;
                    }
                    &.odd {
                    }
                    &.even {
                    }
                    &.across {
                        margin-right: 124.25*$px;
                        &.last {
                            margin-right: 0;
                        }
                    }
                    &.vertical {
                        margin-top: 105*$px;
                    }
                }
            }
            .draw-box {
                padding: 5*$px;
                width: 602*$px;
                height: 385*$px;
                margin: 35*$px 38*$px;
                ul {
                    li {
                        @extend .border-box;
                        margin: 5*$px;
                        width: 187*$px;
                        height: 114.5*$px;
                        padding: 10*$px;
                        float: left;
                        background-image: url("http://hd.res.meizu.com/hd/custom/hd/images/draw-kw.png");
                        background-size: 187*$px 114.5*$px;
                        color: #cc1f46;
                        font-size: 18*$px;
                        text-align: center;
                        border: 5*$px solid rgba(255, 255, 255, 0);
                        img {
                            width: 100%;
                            max-width: 60*$px;
                            max-height: 60*$px;
                        }
                        p {
                            margin-top: 5*$px;
                        }
                        &.active {
                            background: #fff;
                            border: 5*$px solid #f59936;
                        }
                        &.btn {
                            cursor: pointer;
                            padding: 0;
                            border: 0;
                            background-size: 187*$px auto;
                            a {
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                            }
                            p {
                                margin-top: 70*$px;
                                font-size: 16*$px;
                                color: #fff;
                                em {
                                    color: #f6e23d;
                                    font-weight: 600;
                                    margin: 0 2px;
                                }
                            }
                            .null {
                                font-size: 24*$px;
                                padding-top: 30*$px;
                                color: #fff;
                                p {
                                    margin-top: 15*$px;
                                    em {
                                        color: #e1af7c;
                                    }
                                }
                            }
                            .no-start {
                                font-size: 24px;
                                padding-top: 47px;
                                color: #e5e5e5;
                            }

                        }
                    }
                }
            }
        }
        .draw-pcRight {
            width: 100%;
            height: 180*$px;
            position: relative;
            .share-btn {
                display: none;
            }
            .draw-list {
                @extend .border-box;
                width: 100%;
                padding: 0 20*$px;
                height: 120*$px;
                margin-top: 65*$px;
                overflow: hidden;
                ul {
                    width: 100%;
                    li {
                        width: 50%;
                        float: left;
                        font-size: 18*$px;
                        color: #fff;
                        height: 40*$px;
                        line-height: 40*$px;
                        span {
                            @extend .ellipsis;
                            display: block;
                            &.n {
                                width: 110*$px;
                                float: left;
                                margin-right: 15*$px;
                            }
                            &.p {
                                width: 160*$px;
                                float: left;
                            }
                        }
                        &.null {
                            width: 100%;
                            color: #eaeaea;
                            text-align: center;
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
        .draw-add {
            display: none;
        }
    }
}
//#J_drawdialogView .hd-dialog .hd-dialog-con{
//    height: auto;
//}
.hd-drawDialogS {
    width: 100%;
    .title {
        text-align: center;
        font-size: 28*$px;
        color: #fff;
        height: 40*$px;
        line-height: 40*$px;
        margin: 0 auto;
        display: table;
        i {
            display: block;
            float: left;
            width: 40*$px;
            height: 40*$px;
            background-image: url('http://hd.res.meizu.com/hd/custom/hd/images/gou-icon.png');
            background-size: 40*$px auto;
            margin: 0 10*$px 0 0;
        }
    }
    .error {
        color: #fff;
        padding: 70px 0 120px;
        font-size: 16px;
        display: table;
        margin: 0 auto;
        i {
            display: block;
            float: left;
            margin-right: 5px;
            width: 30px;
            height: 30px;
            background: url('http://hd.res.meizu.com/hd/custom/hd/images/cha-icon.png') no-repeat;
        }
        p {
            float: left;
            line-height: 30px;
        }
    }
    .con {
        text-align: center;
        .bg {
            @extend .border-box;
            background-image: url('http://hd.res.meizu.com/hd/custom/hd/images/is-draw.png');
            background-size: 318*$px auto;
            width: 318*$px;
            height: 170*$px;
            margin: 20*$px auto 0;
            text-align: center;
            padding-top: 25*$px;
            &.no {
                background: url('http://hd.res.meizu.com/hd/custom/hd/images/no-draw.png') no-repeat;
                background-size: 320*$px 170*$px;
            }
            img {
                width: 120*$px;
                height: 120*$px;
            }

        }
        .links {
            margin: 35*$px auto;
            text-align: center;
            a {
                display: inline-block;
                font-size: 14px;
                width: 220*$px;
                height: 70*$px;
                text-align: center;
                line-height: 70*$px;
                box-sizing: border-box;
                border-radius: 5*$px;
                &.btn {
                    background: #fff;
                    color: #f8465b;
                    border: #f8465b 1px solid;
                }
                &.i {
                    height: 70*$px;
                    margin-top:30*$px;
                    :after {
                        content: '';
                        display: inline-block;
                        margin-left: 5px;
                        background-image: url(http://hd.res.meizu.com/hd/custom/hd/images/weibo-red.png);
                        background-repeat: no-repeat;
                        background-size: 20px auto;
                        width: 20px;
                        height: 15px;
                    }
                }
            }
            .s {
                p.text {
                    color: #fff;
                    font-size: 20*$px;
                }
            }
        }
    }
    .bottom {
        @extend .border-box;
        background: #fff;
        padding: 24*$px;
        color: #666;
        font-size: 20*$px;
        line-height: 1.4;
    }
}

.hd-drawDialogBig {
    margin-top: 110*$px;
    .title {
        display: none;
    }
    .dialog-con {
        @extend .border-box;
        width: 100%;
        padding: 24*$px;
        color: #666;

        .myList {
            width: 100%;
            height: 100%;
            overflow: auto;
            &.regulation {
                line-height: 1.4;
                font-size: 26*$px;
                p {
                    margin-top: 10*$px;
                    font-size: 26*$px;
                }
            }
            li {
                @extend .border-box;
                width: 100%;
                height: 160*$px;
                background: #fff;
                margin-bottom: 10*$px;
                .img {
                    @extend .border-box;
                    display: block;
                    float: right;
                    width: 260*$px;
                    height: 160*$px;
                    background-image: url("http://hd.res.meizu.com/hd/custom/hd/images/draw-kw.png");
                    background-size: 260*$px 160*$px;
                    padding: 20*$px;
                    text-align: center;
                    img {
                        width: 100%;
                        max-width: 120*$px;
                        max-height: 120*$px;
                    }
                    p {
                        font-size: 12px;
                        color: #f2424f;
                    }
                }
                .dec {
                    float: left;
                    line-height: 1.5;
                    padding: 20*$px;
                    .h {
                        font-size: 28*$px;
                        color: #333;
                    }
                    .t {
                        font-size: 24*$px;
                        color: #666;
                    }
                    .f {
                        font-size: 24*$px;
                        color: #999;
                    }
                    a {
                        color: #f2424f;
                        font-size: 24*$px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                &.null-draw{
                    width: 100%;
                    text-align: center;
                    background: transparent;
                    color: #999;
                    font-size: 20*$px;
                    padding-top: 80*$px;
                }
            }
        }
        &.address {
            margin-top: 134*$px;
            padding: 0;
            background: #fff;
            li.item {
                color: #666;
                width: 100%;
                min-height: 90*$px;
                border-bottom: 1px solid #eee;
                &.m-submit-btn {
                    height: 110*$px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
                .name {
                    display: none;
                }
                input[name='name'], input[name='tel'], input[name='address'] {
                    @extend .border-box;
                    min-height: 90*$px;
                    width: 100%;
                    padding: 0 24*$px;
                    border: 0;
                    font-size: 28*$px;
                }
                select {
                    @extend .ellipsis;
                    @extend .border-box;
                    min-height: 90*$px;
                    width: 100%;
                    border: 0;
                    -webkit-appearance: none;
                    appearance: none;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    background-color: #fff;
                    background-image: url(http://hd.res.meizu.com/hd/custom/hd/images/right-jiantou.png);
                    background-repeat: no-repeat;
                    background-position: center right;
                    background-size: 20*$px auto;
                    color: #666;
                    padding: 0 24*$px;
                    font-size: 28*$px;
                    border-bottom: 1px solid #eee;
                    option {
                        &.def {
                            color: #999;
                        }
                        &:hover {
                            background-color: #f80;
                            color: #fff;
                        }
                    }
                    &.last {
                        margin-right: 0;
                    }
                }
                .all-addr {
                    color: #666;
                    width: 100%;
                    min-height: 90*$px;
                    //border-bottom: 1px solid #eee;
                    .addr {
                        float: left;
                        height: 43px;
                    }
                    input[name='address'] {
                        @extend .border-box;
                        min-height: 90*$px;
                        width: 100%;
                        padding: 0 24*$px;
                        border: 0;
                        font-size: 28*$px;
                    }
                }
                p {
                    color: #f2424f;
                    padding-left: 100px;
                    line-height: 16px;
                    font-size: 12px;
                    i {
                        display: inline-block;
                        float: left;
                        background: url("http://hd.res.meizu.com/hd/custom/hd/images/err.png");
                        width: 15px;
                        height: 15px;
                        margin-right: 3px;
                    }
                }
                &.error {
                    input[name='name'], input[name='tel'] {
                        border-color: #f2424f;
                    }
                    p {
                        display: block;
                    }
                }

                .submit {
                    background: #c6c6c6;
                    border: 1px solid rgba(255, 255, 255, 0);
                    color: #fff;
                    width: 100%;
                    height: 110*$px;
                    border-radius: 0;
                    font-size: 32*$px;
                    &.active {
                        border: 1px solid rgba(255, 255, 255, 0);
                        background: #f2424f;
                        transition: color .3s ease;
                        transition: background .3s ease;
                        &:hover {
                            border: 1px solid #f2424f;
                            color: #f2424f;
                            background: #fff;
                        }
                    }
                }
            }
        }
        .btn {
            width: 120px;
            height: 30px;
            font-size: 14px;
            border: 0;
            border-radius: 3px;
        }
    }
    &.result {
        color: #666;
        text-align: center;
        .re-title {
            font-size: 40*$px;
            height: 60*$px;
            line-height: 60*$px;
            margin: 0 auto;
            padding-top: 120*$px;
            display: table;
            i {
                display: block;
                float: left;
                width: 60*$px;
                height: 60*$px;
                background-image: url('http://hd.res.meizu.com/hd/custom/hd/images/success.png');
                background-size: 60*$px auto;
                margin: 0 10*$px 0 0;
                &.err {
                    background-image: url('http://hd.res.meizu.com/hd/custom/hd/images/error.png');
                }
            }
        }
        .re-bottom {
            height: 90px;
            margin: 40px auto 0;
            .text{
                color: #999;
                text-align: center;
                font-size: 28*$px;
                margin-top: 20*$px;
            }
            .btn {
                display: block;
                border: 1px solid #f8465b;
                color: #f8465b;
                background: transparent;
                width: 290*$px;
                height: 70*$px;
                line-height: 70*$px;
                border-radius: 2px;
                margin: 50*$px auto 0;
                font-size: 30*$px;
                &.succ {
                    color: #fff;
                    background: #f8465b;
                }

            }
            .img{
                @extend .border-box;
                width: 310*$px;
                height: 160*$px;
                margin: 20*$px auto;
                text-align: center;
                padding: 20*$px;
                background-image: url("http://hd.res.meizu.com/hd/custom/hd/images/is-draw.png");
                background-size: 310*$px 160*$px;

                img {
                    width: 120*$px;
                    height: 120*$px;
                }
            }
        }
    }
}